<!DOCTYPE html>
<html lang="en">
  <!-- Head Section -->
  <%- include('partials/head', { title: 'Coupon Site'}) %>

  <body>
    <!-- Preloader -->
    <%- include('partials/preloader') %>

    <div class="contact section" id="location-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading text-center">
              <h6>| Details Form</h6>
              <h2>Select Property Location & fill in your Details</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-content mb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div id="map"></div>
            <h2 class="text-center mb-3">Pick property location from Map</h2>
          </div>
          <div class="col-lg-4">
            <form
              class="contact-form"
              id="details-form"
              action=""
              method="post"
            >
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <label for="name">Full Name</label>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Your Name..."
                      autocomplete="on"
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="email">Email Address</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      pattern="[^ @]*@[^ @]*"
                      placeholder="Your E-mail..."
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="phone">Phone Number</label>
                    <input
                      type="tel"
                      name="phone"
                      id="phone"
                      placeholder="Your Number..."
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="location">Property Location</label>
                    <input
                      type="text"
                      name="location"
                      id="location"
                      placeholder="Property Location..."
                      readonly
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="btn-danger">
                      Submit Details
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="contact section hidden" id="coupon-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading text-center">
              <h6>| Coupon</h6>
              <h2>Open a Door for your Coupon!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-content mb-5 hidden" id="coupon-div">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div id="coupon-doors" class="container text-center mt-5">
              <div class="row doors-container">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="1">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="2">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="3">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="4">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="5">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="6">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="7">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="8">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door-id="9">
                    <img src="/images/door-closed.png" class="door-image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Coupon Modal -->
    <div id="coupon-modal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coupon Discount Code</h5>
            <button
              type="button"
              class="btn-close close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h2 id="coupon-title">Congratulations!</h2>
            <p>
              Your coupon code:
              <span id="coupon-code" class="text-success"></span>
            </p>
            <p>
              Discount:
              <span id="discount-percentage" class="text-success"></span
              ><span class="text-success">%</span>
            </p>
            <small class="text-danger"
              >Make sure you write down your Coupon Code</small
            >
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="ok-button"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
    <!-- JavaScript -->
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
