<!DOCTYPE html>
<html lang="en">
  <!-- Head Section -->
  <%- include('partials/head', { title: 'Coupon Site'}) %>

  <body>
    <!-- Preloader -->
    <%- include('partials/preloader') %>

    <div class="contact section" id="pick-location">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center">
              <h6>| Details Form</h6>
              <h2>Select Property Location & fill in your Details</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div id="map"></div>
            <div class="row text-center">
              <h6 id="confirm-location" class="text-primary">
                Pick a Location
              </h6>
            </div>
          </div>
          <div class="col-lg-5">
            <form
              class="contact-form"
              id="details-form"
              action=""
              method="post"
            >
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <label for="name">Full Name</label>
                    <input
                      type="name"
                      name="name"
                      id="name"
                      placeholder="Your Name..."
                      autocomplete="on"
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="email">Email Address</label>
                    <input
                      type="text"
                      name="email"
                      id="email"
                      pattern="[^ @]*@[^ @]*"
                      placeholder="Your E-mail..."
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label for="phone">Phone Number</label>
                    <input
                      type="tel"
                      name="phone"
                      id="phone"
                      placeholder="Your Number..."
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="btn-danger">
                      Submit Details
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="section best-deal hidden" id="coupon-div">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="section-heading">
              <h6>| Coupon</h6>
              <h2>Pick a Door for your Coupon!</h2>
            </div>
          </div>
          <div class="col-lg-12">
            <div id="coupon-doors" class="container text-center mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="1">Door 1</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="2">Door 2</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="3">Door 3</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="4">Door 4</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="5">Door 5</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="6">Door 6</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="7">Door 7</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="8">Door 8</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                  <div class="door" data-door="9">Door 9</div>
                </div>
              </div>
            </div>

            <!-- Modal to show coupon -->
            <div
              id="couponModal"
              class="modal fade"
              tabindex="-1"
              role="dialog"
              aria-labelledby="couponModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="couponModalLabel">
                      You've Won a Coupon!
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      <strong>Coupon Code:</strong>
                      <span id="couponCode"></span>
                    </p>
                    <p>
                      <strong>Discount:</strong>
                      <span id="discountPercentage"></span>%
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
    <!-- JavaScript -->
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
